{{ attach_library('awtur/jquery-sumoselect') }}

{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{% if '/alle-zalen' in current_path %}
    <div class="views-sort-cheapest">
      {{ form.sort_by }}
    </div>
  {% endif %}

{# The div below and his content are been hidden, we need the fields in the template for the view filter to work, but we 
 only need it 1 time on the page #}
<div class="hidden">
  <div class="" id="">{{ form.field_date_booking_start_value }}</div>

  <div class="" id="">{{ form.field_date_booking_end_value }}</div>
  
  <div class="" id="">{{ form.field_testemail }}</div>
 
  <div class="">{{ form.nabijheid_plaats_postcode_wrapper }}</div>

  <div class="">{{ form.vergader_gelegenheden_keuze }}</div>

  <div class="">{{ form.feest_gelegenheid_keuze }}</div>

  <div class="">{{ form.concert_gelegenheden_keuze }}</div>

  <div class="">{{ form.commerciele_gelegenheden_keuze }}</div>

  <div class="">{{ form.field_groen_label_value }}</div>

  <div class="">{{ form.field_kindvriendelijk_value }}</div>

  <div class="">{{ form.field_beperkingen_value }}</div>

  <div class="">{{ form.field_nabij_bushalte_value }}</div>

  <div class="">{{ form.field_nabij_metrohalte_value }}</div>

  <div class="">{{ form.field_nabij_tramhalte_value }}</div>

  <div class="">{{ form.field_nabij_trein_station_value }}</div>

  <div class="">{{ form.field_dagprijs_value }}</div>

  <div class="">{{ form.field_prijs_per_persoon_value }}</div>

  <div class="">{{ form.field_uurprijs_value }}</div>

  <div class="">{{ form.field_fietsen_value }}</div>

  <div class="">{{ form.field_motoren_value }}</div>

  <div class="">{{ form.field_wagens_value }}</div>

  <div class="">{{ form.field_slaapgelegenheid_value }}</div>

  <div class="">{{ form.field_zitplaatsen_value }}</div>

  <div class="">{{ form.field_bezetting_tot_value }}</div>

  <div class="">{{ form.field_oppervlakte_value }}</div>

  <div class="">{{ form.field_buiten_voorzieningen_target_id }}</div>

  <div class="">{{ form.field_uitrusting_target_id }}</div>

  <div>{{ form.actions }}</div>
  
</div>



   
  

  





