{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="reservation-box">

        <h2 class="reservation-heading">Reservation Information</h2>
        <div class="table-responsive">
          <table class="table table-stripped">
            <thead>
               <tr>
                 <th>Booking Type</th>
                 <th>Start Date</th>
                  <th>End Date</th>
                  <th>Hours</th>
                   <th>Days</th>
                  <th>Occupants</th>
                  <th>Charges</th>
               </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ paragraph.get('field_unit_type').value|default('Hourly')|upper }}</td>
                <td>{{ paragraph.get('field_starting_date').value }}</td>
                <td>{{ paragraph.get('field_ending_date').value }}</td>
                <td>{{ paragraph.get('field_hours').value|default('not applicable') }}</td>
                <td>{{ paragraph.get('field_days').value|default('not applicable') }}</td>
                <td>{{ paragraph.get('field_occupants').value|default('not applicable') }}</td>
                <td>{{ getCurrencySymbol(paragraph.get('field_reservation_currency').value|default('eur')|upper) }}{{ paragraph.get('field_total_amount').value|default('not applicable') }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        {% if paragraph.get('field_unit_type').value == 'person' %}
          <p>Note: these charges showed here is the total amount of booking and all other extra services and person options that you selected during booking</p>
        {% else %}
          <p>Note: these charges showed here is the total amount of booking and all other extra services that you selected during booking</p>
        {% endif %}

        {% if paragraph.get('field_person_type_options').value %}

          <h2>Person option selected</h2>
          <div class="table-responsive">
            <table class="table table-stripped">
               <thead>
                  <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Reserve Count</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
               </thead>
              <tbody>
                {% set options = paragraph.get('field_person_type_options').value %}

                {% for option in options %}
                  {% set option = getParagraph(option.target_id) %}

                  {% if option %}
                    {% set person_item = getParagraph(option.get('field_person_option').target_id) %}
                  <tr>
                    <td><img src="{{ getUri(person_item.get('field_person_option_image').target_id|default(0)) }}" alt=""></td>
                    <td>{{ person_item.get('field_short_description').value }}</td>
                    <td>{{ option.get('field_reserve_count').value }}</td>
                    <td>{{ getCurrencySymbol(person_item.get('field_per_person_item_currency').value) }}{{ option.get('field_price').value }}</td>
                    <td>{{ getCurrencySymbol(person_item.get('field_per_person_item_currency').value) }}{{ option.get('field_total_charge').value }}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>


        {% endif %}

        {% if paragraph.get('field_services').value %}

          <h2>Extra Services Selected</h2>
          <div class="table-responsive">
            <table class="table table-stripped">
               <thead>
                  <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Count</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
               </thead>
              <tbody>
                 {% set services = paragraph.get('field_services').value %}
                 {% for service in services %}
                   {% set service_paragraph = getParagraph(service.target_id) %}

                   {% if service_paragraph %}
                     {% set service_item = getParagraph(service_paragraph.get('field_service').target_id) %}
                   <tr>
                      <td><img src="{{ getUri(service_item.get('field_extra_service_image').target_id) }}" alt="{{ service_item.get('field_extra_service_image').value.alt }}" /></td>
                     <td>{{ service_item.get('field_service_short_description').value }}</td>
                     <td>{{ service_paragraph.get('field_booking_count').value }}</td>
                     <td>{{ getCurrencySymbol(service_item.get('field_service_currency').value|upper) }}{{ service_item.get('field_service_amount').value }}</td>
                     <td>{{ getCurrencySymbol(service_item.get('field_service_currency').value|upper) }}{{ service_paragraph.get('field_booking_total_amount').value }}</td>
                   </tr>

                   {% endif %}

                 {% endfor %}
              </tbody>
            </table>
          </div>

        {% endif %}

        {% set overnights_rooms = paragraph.get('field_overnight_rooms').value %}
        {% if overnights_rooms %}
          <h2>Overnight rooms booked</h2>
          <div class="table-responsive">
            <table class="table table-stripped">
               <thead>
                  <tr>
                    <th>Room</th>
                    <th>Nights Count</th>
                    <th>Rooms Count</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
               </thead>
              <tbody>
              {% for overnights_room in overnights_rooms %}

                {% set room_p = getParagraph(overnights_room.target_id) %}
                {% set room_on_location = getParagraph(room_p.get('field_room').target_id) %}
                {% set currency = getCurrencySymbol(room_on_location.get('field_room_currency').value) %}
                <tr>
                  <td><a href="/overnight-room/{{ room_on_location.id.value }}">{{ room_on_location.get('field_room_type').value }}</a></td>
                  <td>{{ room_p.get('field_nights').value }}</td>
                  <td>{{ room_p.get('field_roms_count').value }}</td>
                  <td>{{ currency }}{{ room_on_location.get('field_price_per_night').value }}</td>
                  <td>{{ currency }}{{ room_p.get('field_rooms_total_amount').value }}</td>
                </tr>

              {% endfor %}

              </tbody>
            </table>
          </div>
        {% endif %}

        {% if paragraph.get('field_reservation_season_applied').value == 1 %}
          <p>This reservation has seasonal pricing applied below</p>
          {% if paragraph.get('field_unit_type').value == 'hourly' or paragraph.get('field_unit_type').value == 'day' %}
            <table class="table table-stripped">
              <thead>
              <tr>
                <th>Label</th>
                <th>Applicable Period</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
               <tr>
                 <td>{{ paragraph.get('field_reservation_season_title').value }}</td>
                 <td>{{ paragraph.get('field_reservation_season_dates').getValue.0.value|date('d F, Y') }} / {{ paragraph.get('field_reservation_season_dates').getValue.0.end_value|date('d F, Y') }}</td>
                 <td>
                   {{ getCurrencySymbol(paragraph.get('field_reservation_currency').value|default('eur')|upper) }}{{ paragraph.get('field_reservation_season_amount').value|default('not applicable') }}
                   {% if paragraph.get('field_unit_type').value == 'hourly' %} / hour {% else %} / day {% endif %}
                 </td>
               </tr>
              </tbody>
            </table>
          {% else %}

            {% set options = paragraph.get('field_person_type_options').getValue %}

            <table class="table table-stripped">
              <thead>
              <tr>
                <th>Label</th>
                <th>Applicable Period</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              {% for option in options %}
                 {% set par = getParagraph(option.target_id) %}
                {% if par.get('field_seasonal_person_title').value is not empty %}
              <tr>
                <td>{{ par.get('field_seasonal_person_title').value }}</td>
                <td>{{ par.get('field_seasonal_person_dates').getValue.0.value|date('d F, Y') }} / {{ par.get('field_seasonal_person_dates').getValue.0.end_value|date('d F, Y') }}</td>
                <td>
                  {{ getCurrencySymbol(par.get('field_person_option_currency').value|default('eur')|upper) }}{{ par.get('field_seasonal_person_price').value|default('not applicable') }} / person
                </td>
              </tr>
                {% endif %}
               {% endfor %}
              </tbody>
            </table>

          {% endif %}
        {% endif %}

      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}


