{#{{ attach_library('awtur/classy.node') }}#}
{{ attach_library('awtur/personal-node-bedrijf-media') }}
<article>
  <div class="bedrijf-media">
    {{ content.field_foto }}
    {% if content.field_video.0 %}
    <div class="bedrijf-media-film">
      <h3>{{ label }}{{ ' In picture'|t }}</h3>
      {{ content.field_video.0|without('#theme') }}
        <span class="bedrijf-media-balk"></span>
        <span class="bedrijf-media-voetsteun"></span>
    </div>
    {% endif %}
    <h3>{{ 'Additional'|t }}</h3>
    <div class="bedrijf-media-additional">
       {{ content.field_prijslijsten }}
    </div>
  </div>
</article>

