     {{ attach_library('awtur/classy.node') }}
{{ attach_library('awtur/personal-bedrijf-default') }}

<div class="bedrijf-default-statistics">
  {{ content.flag_bookmark }}{{ content.links }}
</div>

<div>
  {% if content.field_slogan %}
    <div class="default-header-slogan">
      {{ content.field_slogan|without('#theme') }}
    </div>
  {% endif %}

  {#-----MEDIA-----#}
  {{ drupal_entity('node', node.id, 'media') }}
</div>

{#----- Troevenbar ----#}
{{ drupal_view('beschikbare_zalen', 'blok_troevenbalk_bedrijf_auteur') }}

{#-------BODY-----#}
{{ drupal_entity('node', node.id, 'over') }}

{#-------CONTACT-----#}
{{ drupal_view('beschikbare_zalen', 'blok_contact_bedrijf_auteur') }}

{#----PUBLIEK TRANSPORT & MAP----#}
{{ drupal_view('beschikbare_zalen', 'blok_locatie_bedrijf_auteur') }}

{#----COMFORT PARKEREN----#}
<article class="bedrijf-comfort">
  <div class="bedrijf-comfort-linken">
    <div>
      <div class="tab-bedrijf-comfort-links">
        <div class="linkscomfort" id="faciliteitenDefault" onclick="comfortOpenContent(event, 'comfort-faciliteiten-comfort')">
          <img src="../themes/custom/awtur/images/icons/bedrijf/algemeen-faciliteit.svg" alt="de faciliteiten an de locatie op zalen.be"></br>
          {{ 'Faciliteiten' | t }}
        </div>
        <div class="linkscomfort" onclick="comfortOpenContent(event, 'comfort-buiten-voorzieningen-comfort')">
          <img src="../themes/custom/awtur/images/icons/bedrijf/aanhorig-faciliteit.svg" alt="de aanhorigheden waarover delocatie op zalen.be beschikt"></br>
          {{ 'Aanhorigheden' | t }}
        </div>
        <div class="linkscomfort" onclick="comfortOpenContent(event, 'comfort-kindvriendelijkheid-comfort')">
          <img src="../themes/custom/awtur/images/icons/bedrijf/kind-faciliteit.svg" alt="de kindervriendelijke troeven van de locatie op zalen.be"></br>
          {{ 'Kindvriendelijkheid' | t }}
        </div>
        <div class="linkscomfort" onclick="comfortOpenContent(event, 'comfort-milieu-comfort')">
          <img src="../themes/custom/awtur/images/icons/bedrijf/eco-faciliteit.svg" alt="de eco vriendelijkheid van de locatie op zalen.be"></br>
          {{ 'Milieu' | t }}
        </div>
        <div class="linkscomfort" onclick="comfortOpenContent(event, 'comfort-beperkingen-comfort')">
          <img src="../themes/custom/awtur/images/icons/bedrijf/validen-faciliteit.svg" alt="de faciliteiten voor mindervaliden op deze locatie op zalen.be"></br>
          {{ 'Mindervaliden' | t }}
        </div>
        <div class="linkscomfort" onclick="comfortOpenContent(event, 'comfort-slaapgelegenheid-comfort')">
          <img src="../themes/custom/awtur/images/icons/bedrijf/slaap-faciliteit.svg" alt="locatie op zalen.be beschikt over slaapgelegenheid"></br>
          {{ 'Overnachten' | t }}
        </div>
      </div>
    </div>
    <div>
      <div id="comfort-faciliteiten-comfort" class="comforttab default-terms">
        {{ content.field_faciliteiten }}
      </div>
      <div id="comfort-buiten-voorzieningen-comfort" class="comforttab default-terms">
        {{ content.field_buiten_voorzieningen|without("#label") }}
      </div>
      <div id="comfort-kindvriendelijkheid-comfort" class="comforttab default-terms">
        {{ content.field_kindvriendelijkheid }}
      </div>
      <div id="comfort-beperkingen-comfort" class="comforttab default-terms">
        {{ content.field_mindervaliden }}
      </div>
      <div id="comfort-milieu-comfort" class="comforttab default-terms">
        {{ content.field_milieu }}
      </div>
      <div id="comfort-slaapgelegenheid-comfort" class="comforttab default-terms">
        {% if node.field_slaapgelegenheid.value == 1 %}
          <img src="../themes/custom/awtur/images/banners/slaap-duo-kleur.svg" alt="locatie op zalen.be beschikt over slaapgelegenheid">
        {% else %}
          <img src="../themes/custom/awtur/images/banners/niet-slapen-icoon.svg" alt="locatie op zalen.be beschikt over slaapgelegenheid">
          <p><b>{{ label }}</b>{{ 'heeft geen slaapgelegenheid, accomodatie in de buurt'|t }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="bedrijf-comfort-mobiliteit">
    <div class="bedrijf-comfort-voertuig">
      <img src="../themes/custom/awtur/images/icons/zalen-circel-fiets.svg" alt="fiets icoon, blauwe circel decoratie">
      {{ content.field_fietsen }}
    </div>
    <div class="bedrijf-comfort-voertuig">
      <img src="../themes/custom/awtur/images/icons/zalen-circel-motor.svg" alt="motor icoon, gele circel decoratie">
      {{ content.field_motoren }}
    </div>
    <div class="bedrijf-comfort-voertuig">
      <img src="../themes/custom/awtur/images/icons/zalen-circel-wagen.svg" alt="wagen icoon, groene circel decoratie">
      {{ content.field_wagens }}
    </div>
  </div>
</article>


 
    
