{#{{ attach_library('awtur/classy.node') }}#}
{{ attach_library('awtur/personal-bedrijf-contact') }}

<article class="tab-bedrijf-contact">
  <div class="tab-bedrijf-contact-info">

   <div>
    <div class="tab-bedrijf-contact-persoon">
      <p class="tab-bedrijf-p"><ion-icon name="id-card-outline"></ion-icon>{{ 'Zaal verantwoordelijke'|t }}</p>
    </div>
    <div class="tab-bedrijf-flex">  
      <div class="tab-bedrijf-contact-aanspreekvorm">
        {{ content.field_aanspreekvorm.0 }}
      </div>
      <div class="tab-bedrijf-contact-verantwoordelijke">
        {{ content.field_contact_persoon.0 }}
      </div>
      <div class="tab-bedrijf-contact-avatar">
        {{ content.field_avatar}}
      </div>
    </div>
  </div>


  <div class="tab-bedrijf-contact-adres">
    <div>
      <p class="tab-bedrijf-p"><ion-icon name="location-outline"></ion-icon>{{ 'Adres'|t }}</p>
    </div>
    <div>
      {{ content.field_adres.0 }}
    </div>
  </div>


  <div class="tab-bedrijf-contact-telefoon">
    <div>
      <p class="tab-bedrijf-p"><ion-icon name="calculator-outline"></ion-icon>{{ 'Telefoon'|t }}</p>
    </div>
    <div class="tab-bedrijf-div2">
      {{ content.field_telefoon.0 }}
    </div>
  </div>


  <div class="tab-bedrijf-contact-gsm">
    <div>
      <p class="tab-bedrijf-p"><ion-icon name="phone-portrait-sharp"></ion-icon></ion-icon>{{ 'GSM'|t }}</p>
    </div>
    <div class="tab-bedrijf-div2">
      {{ content.field_gsm.0 }}
    </div>
  </div>
  

  <div class="tab-bedrijf-contact-whatsapp">
    <div>
      <p class="tab-bedrijf-p"><ion-icon name="logo-whatsapp"></ion-icon>{{ 'Whatsapp'|t }}</p>
    </div>
    <div class="tab-bedrijf-div2">
      {{ content.field_whatsapp.0 }}
    </div>
  </div>


  <div class="tab-bedrijf-contact-website">
    <div>
      <p class="tab-bedrijf-p"><ion-icon name="globe"></ion-icon>{{ 'Website'|t }}</p>
    </div>
    <div class="tab-bedrijf-div2">
      {{ content.field_website.0 }}
    <div class="tab-bedrijf-contact-contacteer">
      <a href="../user/{{ node.getOwnerId() }}/contact">{{ "Mail "|t }}{{ label }}</a>
    </div>
    </div>
  </div>
    
  </div>  
  
   <div class="tab-bedrijf-contact-opentimes">
    <div class="tab-contact-bedrijf-openhours">
      {{ content.field_openingsuren }}
    </div>
    <div class="tab-contact-bedrijf-closeperiod">  
      {{ content.field_sluit_periode }}
    </div>
  </div>
  
</article>
