{#{{ attach_library('awtur/classy.node') }}#}
{{ attach_library('awtur/personal-bedrijf-contact') }}

<article class="bedrijf-contact-wrapper">

  <section class="bedrijf-contact-left">

    <div class="contact-person">

      <div class="avatar">
        {{ content.field_avatar }}
      </div>

      <h3 class="person-name">
        {{ content.field_aanspreekvorm.0 }} {{ content.field_contact_persoon.0 }}
      </h3>

      <p class="person-role">
        {{ 'Zaal manager'|t }}
      </p>

    </div>


    <div class="contact-hours">

      <div class="hours-box">
        {{ content.field_openingsuren }}
      </div>

      <div class="close-box">
        {{ content.field_sluit_periode }}
      </div>

    </div>

  </section>

  <section class="bedrijf-contact-right">

    <div class="contact-item">
      <ion-icon name="location-outline"></ion-icon>
      <h4>{{ 'Adres'|t }}</h4>
      <div class="contact-text">
        {{ content.field_adres.0 }}
      </div>
    </div>


    <div class="contact-item">
      <ion-icon name="call-outline"></ion-icon>
      <h4>{{ 'Telefoon'|t }}</h4>
      <div class="contact-text">
        {{ content.field_telefoon.0 }}
      </div>
    </div>


    <div class="contact-item">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <h4>{{ 'Whatsapp'|t }}</h4>
      <div class="contact-text">
        {{ content.field_whatsapp.0 }}
      </div>
    </div>


    <div class="contact-item">
      <ion-icon name="globe-outline"></ion-icon>
      <h4>{{ 'Website'|t }}</h4>
      <div class="contact-text">
        {{ content.field_website.0 }}
      </div>
    </div>


    <div class="contact-item">
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <h4>{{ 'GSM'|t }}</h4>
      <div class="contact-text">
        {{ content.field_gsm.0 }}
      </div>
    </div>


    <div class="contact-item">
      <ion-icon name="mail-outline"></ion-icon>
      <h4>{{ 'Mail'|t }}</h4>
      <div class="contact-text">
        <a href="../user/{{ node.getOwnerId() }}/contact">
          {{ "Mail "|t }}{{ label }}
        </a>
      </div>
    </div>

  </section>

</article>