{% set base_path = drupal_token('site:base-path') ~ '/' %}
{% set thema_pad = base_path ~ directory %}
<style>
	.provincie-details-content {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 4px 8px;
		flex-wrap: wrap;
	}
	.curt-price-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
	}

	.provincie-max-bezetting {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
	}

	.provincie-max-bezetting span {
		display: flex;
		gap: 4px;
	}

	.provincie-max-bezetting ion-icon,
	.curt-price-icon ion-icon,
	.provincie-oppervlakte-symbol,
	.curt-price ion-icon {
		color: #2a7de1;
		font-size: 26px;
	}

	.provincie-label ion-icon {
		font-size: 24px;
		float: inline-end;
		transform: rotate(135deg);
		transition: 500ms ease-in-out;
	}

	.provincie-label ion-icon:hover {
		transform: rotate(45deg);
	}

	.provincie-zalen details {
		margin-top: 0.5em;
		margin-bottom: unset;
		border: unset;
	}
</style>


<article>
	<details class="provincie-eerstedrie">
		<summary class="provincie-label">{{ label }}<a href="{{ url }}" rel="bookmark">naar de zaal</a>
		</summary>
		<div class="provincie-details-content">
			<div class="provincie-max-bezetting">
				<img src="{{ thema_pad }}/images/icons/floor-plan-size-icon 1.svg"/>
				<span>{{ content.field_oppervlakte }}</span>
			</div>
			<div class="provincie-max-bezetting">
				<img src="{{ thema_pad }}/images/icons/clarity_group-solid.svg"/>
				<span>{{ 'max.'|t }}{{ content.field_bezetting_tot }}</span>
			</div>
			<div class="curt-price">
				{% if content.field_uurprijs.0 is not empty %}
					<div class="curt-price-item">
						<img src="{{ thema_pad }}/images/icons/buyer-pay-icon 1.svg"/>
						<span class="curt-price-icon">{{ content.field_uurprijs.0 }}</span>
					</div>
				{% elseif content.field_dagprijs.0 is not empty %}
					<div class="curt-price-item">
						<img src="{{ thema_pad }}/images/icons//buyer-pay-icon 1.svg"/>
						<span class="curt-price-icon">{{ content.field_dagprijs.0 }}</span>
					</div>
				{% elseif content.field_prijs_per_persoon.0 is not empty  %}
					<div class="curt-price-item">
						<img src="{{ thema_pad }}/images/icons/buyer-pay-icon 1.svg"/>
						<span class="curt-price-icon">{{ content.field_prijs_per_persoon.0 }}</span>
					</div>
				{% endif %}
			</div>
		</div>
	</details>
</article>
