{# varable: {{ language_id }} choosen language in the language dropdown #}
{# form-node-bedrijf-edit-form.twig #}

{{ attach_library('awtur/form-bedrijf-edit') }}
{{ attach_library('awtur/multiselect-sumoselect') }}

<form{{ attributes }}>

<div class="bedrijf-form" id="bedrijf-form-wrapper">

  <h1>{{ 'Edit Location'|t }}</h1>

  {{ element.form_build_id }}
  {{ element.form_id }}
  {{ element.form_token }}

  {# ================= Language ================= #}

  <fieldset class="form-section" id="bedrijf-langcode-language">
    <legend>{{ 'Language of the content'|t }}</legend>

    {{ element.langcode }}
  </fieldset>

  {# ================= GENERAL INFORMATION ================= #}

  <fieldset class="form-section" id="section-algemeen">
    <legend>{{ 'General information'|t }}</legend>

    <div class="form-group form-item--title required">
      {{ element.title }}
    </div>

    <div class="form-group">
      {{ element.field_slogan }}
    </div>

    <div class="form-group">
      {{ element.field_logo }}
    </div>
  </fieldset>

  {# ================= Opening hours ================= #}
  <fieldset class="form-section" id="section-Openingstijden">
    <legend>{{ 'Opening hours'|t }}</legend>
    <div class="input-openingsuren">
      {{ element.field_openingsuren }}
    </div>
  </fieldset>


  {# ================= Close period ================= #}
  <fieldset class="form-section" id="section-sluit-periode">
    <legend>{{ 'Close period'|t }}</legend>
    <div class="form-group">
      {{ element.field_sluit_periode }}
    </div>
  </fieldset>

  {# ================= CONTACT PERSON ================= #}
  <fieldset class="form-section" id="section-contact">
    <legend>{{ 'Contact Person'|t }}</legend>

    <div class="form-group bedrijf-field-aanpreekvorm">
      <div class="element-field-aanspreekvorm">
        {{ element.field_aanspreekvorm }}
      </div>
      <div class="element-field-contactpersoon">
        {{ element.field_contact_persoon }}
      </div>
    </div>

    <div class="form-group">
      {{ element.field_avatar }}
    </div>
  </fieldset>

  {# ================= PHONE NUMBER & GSM NUMBER ================= #}
  <fieldset class="form-section" id="section-number">
    <legend>{{ 'Phone Number & GSM Number'|t }}</legend>

    <div class="form-group bedrijf-field-telefoon">
      {{ element.field_telefoon }}
    </div>

    <div class="form-group bedrijf-field-gsm">
      {{ element.field_gsm }}
    </div>
  </fieldset>

  {# ================= ADDRESS $ LOCATION ================= #}
  <fieldset class="form-section" id="section-locatie">
    <legend>{{ 'Address & Location'|t }}</legend>

    <div class="form-group form-item--adres required">
      {{ element.field_adres }}
      {# Verplicht veld #}
    </div>

    <div class="form-group">
      {{ element.field_stadsgewest }}
    </div>
  </fieldset>

  {# ================= PUBLIC TRANSPORT ================= #}
  <fieldset class="form-section" id="section-vervoer">
    <legend>{{ 'Distances to Infrastructure'|t }}</legend>
    <div class="vervoer-wrapper">
      <div class="form-group">
        {{ element.field_afstand_bus }}
      </div>
      <div class="form-group">
        {{ element.field_afstand_tramhalte }}
      </div>
      <div class="form-group">
        {{ element.field_afstand_trein_station }}
      </div>
      <div class="form-group">
        {{ element.field_afstand_metro }}
      </div>
    </div>
  </fieldset>


  {# ================= PARKING / PARKING OPTIONS ================= #}
  <fieldset class="form-section" id="section-parking">
    <legend>{{ 'Parking'|t }}</legend>
    <div class="parking-wrapper">
      <div class="form-group">
        {{ element.field_fietsen }}
      </div>
      <div class="form-group">
        {{ element.field_motoren }}
      </div>
      <div class="form-group">
        {{ element.field_wagens }}
      </div>
    </div>
  </fieldset>


  {# ================= FACILITIES ================= #}
  {% set facilities_fields = [
    'field_faciliteiten',
    'field_buiten_voorzieningen',
    'field_kindvriendelijkheid',
    'field_mindervaliden'
  ] %}

  <fieldset class="form-section" id="section-faciliteiten">
    <legend>{{ 'Facilities and Amenities'|t }}</legend>

    <div class="form-tabs" data-default-tab="facilities-tab-1">
      <div class="form-tabs__nav" role="tablist" aria-label="{{ 'Facilities tabs'|t }}">
        {% for field_name in facilities_fields %}
          {% set field = attribute(element, field_name) %}
          {% if field is not empty %}
            {% set tab_id = 'facilities-tab-' ~ loop.index %}
            {% set panel_id = 'facilities-panel-' ~ loop.index %}
            <button
              type="button"
              class="form-tabs__button"
              id="{{ tab_id }}"
              role="tab"
              aria-controls="{{ panel_id }}"
              aria-selected="{{ loop.first ? 'true' : 'false' }}"
              {% if not loop.first %}tabindex="-1"{% endif %}>
              {{ field['#title'] ?? field['widget']['#title'] ?? ('Tab ' ~ loop.index) }}
            </button>
          {% endif %}
        {% endfor %}
      </div>

      {% for field_name in facilities_fields %}
        {% set field = attribute(element, field_name) %}
        {% if field is not empty %}
          {% set tab_id = 'facilities-tab-' ~ loop.index %}
          {% set panel_id = 'facilities-panel-' ~ loop.index %}
          <div
            class="form-tabs__panel"
            id="{{ panel_id }}"
            role="tabpanel"
            aria-labelledby="{{ tab_id }}"
            {% if not loop.first %}hidden{% endif %}>
            <div class="form-group">
              {{ field }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </fieldset>


  {# ================= DUURZAAMHEID ================= #}
  <fieldset class="form-section" id="section-duurzaamheid">
    <legend>{{ 'Sustainability & Environment'|t }}</legend>

    <div class="form-group">
      {{ element.field_milieu }}
    </div>
    <div class="form-group">
      {{ element.field_keurmerken }}
    </div>
  </fieldset>


  {# ================= MEDIA & FILES ================= #}
  <fieldset class="form-section" id="section-media">
    <legend>{{ 'Media & Files'|t }}</legend>

    <div class="form-group">
      {{ element.field_prijslijsten }}
    </div>
    <div class="form-group">
      {{ element.field_foto }}
    </div>
    <div class="form-group">
{#      {{ element.field_video }}#}
      {{ element.field_location_video }}
    </div>
  </fieldset>

  {# =============== OFFER OVERNIGHT ==============#}
  <fieldset class="form-section {{ element.field_slaapgelegenheid['#access'] ? '' : 'upgrade-vip' }}" id="section-overnight">
    <legend>{{ "Overnight Accommodation"|t }}</legend>
    <div class="form-section">
      {{ element.field_slaapgelegenheid }}
    </div>

    <div class="form-section">
      {{ element.field_overnight_room }}
    </div>

    <div class="upgrade-plan">
      {{ element.upgrade_plan }}
    </div>
  </fieldset>


  {# ================= OTHER TEXT/DESCRIPTION ================= #}
  <fieldset class="form-section" id="section-overig">
    <legend>{{ 'Other info'|t }}</legend>

    <div class="form-group">
      {{ element.body }}
    </div>
  </fieldset>

  {# ================= WEBSITE & RATING ================= #}
  <fieldset class="form-section" id="section-website">
    <legend>{{ 'Website & Ratings'|t }}</legend>

    <div class="form-group">
      {{ element.field_website }}
    </div>
    <div class="form-group">
      {{ element.field_website }}
    </div>

    <div class="form-group">
      {{ element.field_google_rating }}
    </div>

    <div class="form-group">
      {{ element.field_google_review_count }}
    </div>
    <div class="form-group">
      {{ element.field_google_place_id }}
    </div>
  </fieldset>

  {# ================= ACTIONS ================= #}
  <div class="form-actions" id="bedrijf-form-actions">
    {{ element.actions }}
  </div>

  {# ============= Section only vissible for admins ============= #}
 {% if user.isAuthenticated() and 'administrator' in user.roles %}
  {# ================= HIDDEN ELEMENTS ================= #}

  <fieldset class="form-section" id="section-inviible-elements">
    <legend>{{ 'Hidden elements for non admin users'|t }}</legend>

    <div class="bedrijf-invisible-elements">
      <div class="form-group">
        {{ element.field_groen_label }}
      </div>
      <div class="form-group">
        {{ element.field_beperkingen }}
      </div>
      <div class="form-group">
        {{ element.field_kindvriendelijk }}
      </div>
      <div class="form-group">
        {{ element.field_nabij_bushalte }}
      </div>
      <div class="form-group">
        {{ element.field_nabij_metrohalte }}
      </div>
      <div class="form-group">
        {{ element.field_nabij_tramhalte }}
      </div>
      <div class="form-group">
        {{ element.field_nabij_trein_station }}
      </div>
    </div>
  </fieldset>

  {# ================= ADVANCED GROUPS ================= #}
  <fieldset class="form-section" id="bedrijf-section-advanced-settings">
    <legend>{{ 'Form status'|t }}</legend>

      <div class="bedrijf-form-afvanced">
        {#{{ element.advanced.group.1 }}
        {{ element.advanced.group.2 }}#}

        {{ element.advanced.group }}

      </div>

  </fieldset>
 {% endif %}

{{ element.footer }}
</div>

</form>
